.container {
  padding: 3rem;
}

.tableHeader > span {
  font-weight: bold;
}

span {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 3rem;
  min-width: 150px;
}

label {
  margin-right: 1rem;
}

input {
  padding: 1rem;
  font-size: 1.2rem;
}
